/*-------------------------- General ----------------------  */

.top-section-wrap,
.main-wrap,
.main-section-titles-container {
  padding: 0 10px;
}
.logo-container_link,
.main-wrap,
.grid {
  height: 100%;
}
.logo-container_link,
.top-section-text {
  width: 100%;
}

/*------------------------  Header --------------------  */

.logo-container {
  width: 250px;
}

.contacts-container {
  height: 50%;
}
/*------------------------  Top-section --------------------  */
.top-section-wrap {
  background-size: 100% 100%;
  min-height: 55vh;
  height: 100%;
}
.top-section-text {
  padding: 0;
  height: 100%;
}
.top-section-title {
  margin: 0 10px;
  font-size: 1.8rem;
  padding:0 ;
}

/*---------------------------- Main ------------------------  */
.main-wrap {
  background-repeat: repeat;
  justify-content: space-around;
  gap: 0;
  margin: 20px 0;
}
.main-section-titles-container {
  font-size: 0.9rem;
  font-weight: 900;
}
.main-wrap_main_title {
  font-size: 1.5rem;
}

.seperator-y {
  visibility: hidden;
}
.seperator-x_container {
  display: none;
}

.sep-logo_container {
  left: 45.5%;
  top: 25%;
  width: 30px;
  height: 30px;
}
.sep-logo_container > img {
  width: 20px;
  height: 20px;
}
.grid {
  grid-template-columns: 0;
  grid-template-rows: repeat(auto, 1fr);
  text-align: center;
  justify-items: center;
  margin: 20px 0;
}
.grid-cell {
  margin: 50px 0;
}
.cell-seperator-x_container {
  display: flex;
  width: 350px;
  top: 110%;
}
.grid-cell > img {
  width: 100px;
  height: 100px;
}
.grid-title {
  margin: 5px 0;
}
.grid-text {
  width: 350px;
  font-size: 1rem;
}

/*---------------------------- Galaxy Fold ------------------------  */

@media (max-width: 300px) {
  .logo-container {
    width: 200px;
}
  .top-section-title {
    font-size: 1.3rem;
  }
  .top-section-text {
    font-size: 0.9rem;
  }
  .grid-cell {
    margin: 20px;
  }
  .grid-cell > img {
    height: 80px;
  }
  .seperator-x_container {
    display: none;
  }
  .cell-seperator-x_container {
    width: 275px;
    top: 98%;
  }
  .grid-text {
    max-width: 280px;
    font-size: 0.8rem;
    margin-bottom: 15px;
  }
}

